[submodule "vim.dot/bundle/pathogen"]
	path = dot.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule "vim.dot/bundle/solarized"]
	path = dot.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "vim.dot/bundle/sensible"]
	path = dot.vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
	branch = master
[submodule "solarized/gnome-terminal"]
	path = solarized/gnome-terminal
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
	branch = master
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "vim.dot/bundle/go"]
	path = dot.vim/bundle/go
	url = https://github.com/fatih/vim-go.git
	branch = master
[submodule "vim.dot/bundle/ragel"]
	path = dot.vim/bundle/ragel
	url = https://github.com/jneen/ragel.vim.git
	branch = master
[submodule "vim.dot/bundle/rust"]
	path = dot.vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
	branch = master
[submodule "vim.dot/bundle/airline"]
	path = dot.vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "vim.dot/bundle/airline-themes"]
	path = dot.vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule "vim.dot/bundle/nerdtree"]
	path = dot.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "vim.dot/bundle/gitgutter"]
	path = dot.vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "vim.dot/bundle/fugitive"]
	path = dot.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim.dot/bundle/a"]
	path = dot.vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
	branch = master
[submodule "vim.dot/bundle/commentary"]
	path = dot.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "vim.dot/bundle/eunuch"]
	path = dot.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
	branch = master
[submodule "vim.dot/bundle/fzf.vim"]
	path = dot.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
[submodule "vim.dot/bundle/fzf"]
	path = dot.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "vim.dot/bundle/ycm"]
	path = dot.vim/bundle/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
	branch = master
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
